html,body{
  height:100%;
  overflow-x: hidden;
}

.top-buffer { 
  margin-top:70px;

}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.box {
  padding: 30px;
  background: #fff;
  background: rgba(255,255,255,0.9);
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

#alert{
  margin-left: auto;
  margin-right: auto;
  width: 97%;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

hr {
  max-width: 700px;
  border-color: #999999;
}