body{
  padding-top:50px; /*padding for navbar*/
}

.navbar-custom .icon-bar {
	background-color:#fff;
}

.navbar-custom {
	background-color: #168ccc;
  color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
	background-color:#49bfff;
}

.navbar-custom a{
    color:#fefefe;
}

.navbar-custom .form-control:focus {
	border-color: #49bfff;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0;
	box-shadow: inset 0 0 0;
}

.navbar-custom .dropdown-menu{
  background-color: #168ccc;
}

.navbar-custom .dropdown{
  margin-right:10px;
}
.navbar-custom .dropdown-menu a{
  color: #fff;
}

#main, #main>.row {
	height:100%;
}

#main>.row {
  overflow-y:scroll;
}

.date-form { margin: 10px; }
label.control-label span { cursor: pointer; }

#eventForm .form-control-feedback {
  top: 0;
  right: -15px;
}

#main>.container{
  height:100%;
}

.input-group{
  width: 100%;
}

hr {
  max-width: 70%;
}

.box {
  padding: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

#map-canvas {
  width:100%;
  height:500px;
  top:50px;
}

#directions {
  position: absolute;
  top: 50px;
  left: 13%;
  text-align: center;
  width: 270px;
  background: rgba(255, 255, 255, 0.96);
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.36);
  padding: 25px 25px 20px 25px; 
}

#code{
  text-align: center;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}
.img-full {
    min-width: 100%;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

